.navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav-link {
    font-size: x-large;
}

body {
    font-family: monospace;
    background-color: #0E0E0E;
}

.logo {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: black;
    line-height: 60px;
}

.spinner {
    justify-self: center;
}

.response-container {
    display: grid;
    position: relative;
}

.response-image {
    max-width: 85%;
    max-height: 65vh;
    margin: 5% 5% 5% 10% ;
    justify-self: center;
}

.response-video {
    width: 85%;
    height: 100%;
    margin: 5% 5% 5% 10%;
    justify-self: center;
}

.date-selector {
    align-items: center;
    text-align:center;
}

.main-container {
    margin: 30px;
}

input {
    color: white !important;
}

.image-container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-areas:
        "daily-menu daily-main";
}

.menu {
    grid-area: daily-menu;
}

.main {
    grid-area: daily-main;
}

.menu-text, .menu-picker {
    text-align: justify;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
}

.menu-explanation {
    text-align: justify;
    text-align-last: center;
}

.data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    max-height: 70vh;
}

.picture-details {
    grid-area: picture-details;
}

.title-container, .explanation-container {
    text-align: center;
}

.explanation-title {
    padding-top: 5%;
}

.picture-explanation {
    text-align: justify;
    margin: 20px;
    padding: 20px;
}
